<html xmlns="https://www.w3.org/1999/xhtml" lang="en">

<head>
    <title><%= content.emailSubject %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <style></style>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body style="background-color: #EEE; padding:10px 6px;">

    <table align="center" bgcolor="#FFF" width="700" border="0" cellspacing="0" cellpadding="0" class="em_main_table"
        style="width: 100%;max-width:700px; box-shadow: 0 0 5px rgba(0,0,0,.15); font-family: 'Nunito Sans', sans-serif;
        ">
        <tr role="presentation">
            <td
                style="background-image: linear-gradient(90deg,#0d7586,#0d84b9); padding-top:2px; background-color: #0d7586">
            </td>
        </tr>
        <tr role="presentation">
            <td>
                <img style="max-width: 200px; margin-top: 10px; margin-left: 15px;"
                    src="https://raw.githubusercontent.com/gctools-outilsgc/gcconnex/master/mod/wet4/graphics/sig-alt-en.png"
                    alt="Government of Canada - Gouvernement du Canada" />
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding: 15px; font-family: 'Rubik', sans-serif;">
                <table align="center" style="font-size: 18px">
                    <tr>
                        <td>
                            <span>
                                Directory
                            </span>
                            <span>
                                &#8226;
                            </span>
                            <span lang="fr">
                                Annuiare
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center" style="padding:20px 40px 25px;" class="em_padd">
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td lang="fr" style="padding-bottom:5px">
                            <p>Version française suit</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-size:16px; line-height:30px;">
                            <p><%= content.descriptionEn %></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <a style="color: #002d42;
                            background-color: transparent;
                            background-image: none;
                            display: inline-block;
                            font-weight: 400;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            user-select: none;
                            border: 1px solid #002d42;
                            padding: .375rem .75rem;
                            font-size: 1rem;
                            line-height: 1.5;
                            border-radius: .35rem;
                            text-decoration: none;
                            margin-top: 15px;
                            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;"
                                href="<%= directoryUrl %>/p/<%= content.toUser %>">View profile</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr role="presentation">
            <td>
                <hr />
            </td>
        </tr>
        <tr>
            <td valign="top" align="center" style="padding:35px 40px 30px;" class="em_padd">
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" lang="fr">
                    <tr>
                        <td align="center" valign="top" style="font-size:16px; line-height:30px;">
                            <p><%= content.descriptionFr %></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <a style="color: #002d42;
                            background-color: transparent;
                            background-image: none;
                            display: inline-block;
                            font-weight: 400;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: middle;
                            user-select: none;
                            border: 1px solid #002d42;
                            padding: .375rem .75rem;
                            font-size: 1rem;
                            line-height: 1.5;
                            border-radius: .35rem;
                            text-decoration: none;
                            margin-top: 15px;
                            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;"
                                href="<%= directoryUrl %>/p/<%= content.toUser %>">Voir le profil</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" align="right" style="padding:38px 30px;" class="em_padd">
                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right" valign="top">
                            <img src="https://raw.githubusercontent.com/gctools-outilsgc/gcconnex/master/mod/wet4/graphics/wmms-alt.png"
                                alt="" style="width: 85px" />
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>